
<div class="pagination">
{% if page.has_previous %} {#اگه صفحه قبلی داره #}
  <a href="?page={{ page.previous_page_number }}" class="page_but">« </a>

  {% if page.number > 3 %}
    <a href="?page=1">1</a>
    {% if page.number > 4 %}
      <span>...</span>
    {% endif %}
  {% endif %}
{% endif %}

{% for num in page.paginator.page_range %}
  {% if page.number == num %}
    <a href="?page={{ num }}">{{ num }}</a>{# شماره صفحه ای که توشیم + 3  ___________________  #}
  {% elif num > page.number|add:'-3' and num < page.number|add:'3' %} {# یعنی num سه تا با شماره صفحه فاصله داره #}
    <a href="?page={{ num }}">{{ num }}</a>
  {% endif %}
{% endfor %}

{% if page.has_next %} {#اگه صفحه قبلی داره #}
  {% if page.number < page.paginator.num_pages|add:'-3' %}
    <span>...</span>
    <a href="?page={{ page.paginator.num_pages }}">{{ page.paginator.num_pages }}</a>
  {% elif page.number < page.paginator.num_pages|add:'-2' %}
    <a href="?page={{ page.paginator.num_pages }}">{{ page.paginator.num_pages }}</a>
  {% endif %}

  <a href="?page={{ page.next_page_number }}" class="page_but"> »</a>
{% endif %}
</div>